//
// CinematicFX Plugin - Windows Resource File
// Embeds PiPL (Plugin Property List) data for Adobe host applications
//

#include "winres.h"

// Version Information
#define CINEMATICFX_MAJOR_VERSION 1
#define CINEMATICFX_MINOR_VERSION 0
#define CINEMATICFX_PATCH_VERSION 0
#define CINEMATICFX_BUILD_VERSION 0

#define CINEMATICFX_VERSION_STRING "1.0.0\0"
#define CINEMATICFX_COPYRIGHT "Copyright (c) 2025 Pol Casals\0"

// PiPL Resource as Binary Data
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
16000 RCDATA
{
    // PiPL Header
    0x00, 0x01, 0x00, 0x00,  // Version 1
    0x00, 0x00, 0x00, 0x00,  // Reserved
    0x00, 0x00, 0x00, 0x0C,  // 12 properties
    
    // Property 1: Kind = 'AEft' (After Effects Plugin)
    0x6B, 0x69, 0x6E, 0x64,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size (4 bytes)
    0x41, 0x45, 0x66, 0x74,  // After Effects plugin type
    
    // Property 2: Name = "CinematicFX"
    0x6E, 0x61, 0x6D, 0x65,  // Property type
    0x00, 0x00, 0x00, 0x0D,  // Property size (13 bytes)
    0x0B,                     // String length (11)
    0x43, 0x69, 0x6E, 0x65, 0x6D, 0x61, 0x74, 0x69, 0x63, 0x46, 0x58,  // Name
    0x00,                     // Padding
    
    // Property 3: Category = "CinematicFX"
    0x63, 0x61, 0x74, 0x65,  // Property type
    0x00, 0x00, 0x00, 0x0D,  // Property size
    0x0B,                     // String length
    0x43, 0x69, 0x6E, 0x65, 0x6D, 0x61, 0x74, 0x69, 0x63, 0x46, 0x58,
    0x00,                     // Padding
    
    // Property 4: Match Name = "POL_CinematicFX"
    0x6D, 0x61, 0x74, 0x6E,  // Property type
    0x00, 0x00, 0x00, 0x11,  // Property size (17 bytes)
    0x0F,                     // String length (15)
    0x50, 0x4F, 0x4C, 0x5F, 0x43, 0x69, 0x6E, 0x65, 0x6D, 0x61, 0x74, 0x69, 0x63, 0x46, 0x58,
    
    // Property 5: Version
    0x76, 0x65, 0x72, 0x73,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x01, 0x00, 0x00,  // Version 1.0

    // Property 6: AE_PiPL_Version
    0x41, 0x45, 0x30, 0x31,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x02, 0x00, 0x00,  // Version 2.0

    // Property 7: AE_Effect_Spec_Version
    0x41, 0x45, 0x30, 0x32,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x0D, 0x00, 0x00,  // Spec version

    // Property 8: AE_Effect_Version
    0x41, 0x45, 0x30, 0x33,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x08, 0x00, 0x00,  // Effect version

    // Property 9: AE_Effect_Info_Flags
    0x41, 0x45, 0x30, 0x34,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x00, 0x00, 0x00,  // No special flags

    // Property 10: AE_Effect_Global_OutFlags
    0x41, 0x45, 0x30, 0x35,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x02, 0x00, 0x02, 0x00,  // 32-bit float + GPU support

    // Property 11: AE_Effect_Global_OutFlags_2
    0x41, 0x45, 0x30, 0x36,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x02, 0x00, 0x01,  // Float color aware + smart render

    // Property 12: AE_Reserved_Info
    0x41, 0x45, 0x30, 0x37,  // Property type
    0x00, 0x00, 0x00, 0x04,  // Property size
    0x00, 0x00, 0x00, 0x00   // Reserved
}


// Version Info Resource
VS_VERSION_INFO VERSIONINFO
FILEVERSION     CINEMATICFX_MAJOR_VERSION,CINEMATICFX_MINOR_VERSION,CINEMATICFX_PATCH_VERSION,CINEMATICFX_BUILD_VERSION
PRODUCTVERSION  CINEMATICFX_MAJOR_VERSION,CINEMATICFX_MINOR_VERSION,CINEMATICFX_PATCH_VERSION,CINEMATICFX_BUILD_VERSION
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",      "Pol Casals\0"
            VALUE "FileDescription",  "CinematicFX - Professional Cinematic Effects Plugin\0"
            VALUE "FileVersion",      CINEMATICFX_VERSION_STRING
            VALUE "InternalName",     "CinematicFX\0"
            VALUE "LegalCopyright",   CINEMATICFX_COPYRIGHT
            VALUE "OriginalFilename", "CinematicFX.prm\0"
            VALUE "ProductName",      "CinematicFX\0"
            VALUE "ProductVersion",   CINEMATICFX_VERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
